  <form class="form-signin" (submit)="onLogin(authForm)" #authForm="ngForm">
    <div class="form-group  text-center mb-3">
      <img src="../../../assets/Capture.PNG" alt="" width="90" height="90">
    </div>

    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <div class="form-group  mb-3">
      <label>Email</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" ngModel required>
    </div>
    <div class="form-group  mb-3">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password" ngModel required>
    </div>
    <div class="control   btn-block mb-3">
      <button class="button is-primary is-rounded" type="submit">Sign in</button>
    </div>
  </form>
  <div class="text-center">
    <label [routerLink]="['/request-reset-password']" routerLinkActive="router-link-active">
      forget password
    </label>
    /
    <label [routerLink]="['/signup']" routerLinkActive="router-link-active">
      Sign up
    </label>
  </div>
