    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card-body">
        <h1 class="card-title text-center" style="font-size: 200%;font-weight: 400;color: #818887;"> Sign In</h1>
        <div>
          <i class="fa fa-line-chart"></i>

          <form class=" form-signin" (submit)="onLogin(authForm)" #authForm="ngForm">
            <div class="form-group  text-center mb-3">
              <img src="../../../assets/Capture.PNG" alt="" width="90" height="90">
            </div>
            <div class="form-group  mb-3 ">
              <label>Email</label>
              <input class="form-control" type="email" name="email" placeholder="Enter email" ngModel required>
            </div>
            
            <div class="form-group  mb-3 ">
              <label>Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password" ngModel required>
            </div>
            <div class="control btn-block mb-3">
              <button class="button is-primary " type="submit">Sign in</button>
            </div>
          </form>
          <div class="text-center" style="color: #00d1b2;">
            <label [routerLink]="['/request-reset-password']" routerLinkActive="router-link-active">
              | <strong style="color: #818887;"> Forget Password </strong>
            </label>
            |
            <label [routerLink]="['/signup']" routerLinkActive="router-link-active">
              <strong style="color: #818887;"> Sign Up </strong>|
            </label>
          </div>
        </div>
      </div>
