<div class="box" style="text-align: center; padding-top: 20px;">
  <article class="media-center">
    <label style="font-weight:bold;"> {{ sunday }} - {{ saturday }} </label>
    <div class="media-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <div class="main" dir="rtl">
              <label *ngFor="let title of weekArray" style="font-weight:bold;"> {{title}} </label>
              <div *ngFor="let item of sidurData;let i=index">
                <div *ngIf="i !=11" class=" squares">
                  <small class="labelQube" *ngFor="let name of item ">
                    <input type="checkbox">
                    {{name.name}}
                  </small>

                </div>
                <div *ngIf="i ==11" style="border: 0px white solid ;height: 70px;width: 70px;">
                  <label style="font-weight:bold; padding-top: 20px;">ש</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </article>
</div>


<!-- <p class="scroll" *ngFor="let item of row.users; let i = index" style="margin-bottom: 0 ">
  <small *ngIf=" !item.isAvilable  && ( item.isCheck || item.isCheck == null)" style="color: red;">
    <input type="checkbox" (click)="changeSidor(i,row, item )">
    {{item.name}}
  </small>
  <small *ngIf="item.isAvilable  && ( item.isCheck || item.isCheck == null)" style="color: black;">
    <input type="checkbox" (click)="changeSidor(i,row, item )">
    {{item.name}}
  </small>
</p> -->
