<div class="box" style="text-align: center; padding-top: 20px;">
  <article class="media-center">
    <label style="font-weight:bold;"> {{ sunday }} - {{ saturday }} </label>
    <div class="media-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <div class="main" dir="rtl">
              <label *ngFor="let title of weekArray" style="font-weight:bold;"> {{title}} </label>
              <div class="calender-days" *ngFor="let item of sidurData ; let i = index">
                <div class="squares">
                  <small class="scroll labelQube" *ngFor="let name of item ; let j = index" style="margin-bottom: 0">
                    <label *ngIf=" !name.isExist" style="color: red; font-weight: 700;  "
                      (click)="changeSidor(i,j,name, item )">
                      <!-- <input type="checkbox"> -->
                      {{name.name}}
                    </label>
                    <label *ngIf="name.isExist " style="color: black;font-weight: 700; background: springgreen;"
                      (click)=" changeSidor(i,j,name, item )">
                      <!-- <input type="checkbox"> -->
                      {{name.name}}
                    </label>
                  </small>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="media-content">
      <button type="button" type="submit" class="button is-primary is-rounded" (click)="saveSidur()">
        save sidor
      </button>
    </div>
  </article>
</div>


